name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Read version
      id: version
      run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: docker build --build-arg CRONN_VERSION=$VERSION -t kszakharov/cronn:$VERSION .

    - name: Tag latest
      run: docker tag kszakharov/cronn:$VERSION kszakharov/cronn:latest

    - name: Push versioned Docker image to Docker Hub
      run: docker push kszakharov/cronn:$VERSION

    - name: Push latest Docker image to Docker Hub
      run: docker push kszakharov/cronn:latest
